{
    "luminous_token": "YOUR_L_TOKEN",
    "tenebris_token": "YOUR_T_TOKEN",
    "quangia_token": "YOUR_QG_TOKEN",
    "jules_token": "YOUR_JULES_GEMINI_API_KEY",
    "luminous_client_id": "",
    "luminous_client_secret": "",
    "tenebris_client_id": "",
    "tenebris_client_secret": "",
    "oauth2_redirect_uri": "http://your-domain.com/callback",
    "redis_uri": "redis://:password@host:port",
    "owner_id": 0,
    "port": 8080
}
